/* style.css */
body {
 
    font-family: 'Times New Roman', Times, serif, sans-serif; /* Fallback to sans-serif if Times New Roman is unavailable */
    margin: 0;
    padding: 0;
    background-color: #32d48b; /* Light green background */
}

header {
    text-align: center; /* Center align header text */
    color: #17ebd2;
    margin-top: 20px; /* Add some top margin */
    margin-bottom: 20px; /* Add some bottom margin, makes it so the text is seperated from other text/borders */
}

section {
    background-color: #7e14db; /* Purple background */
    padding: 20px; /* Add padding for better readability */
    margin: 20px; /* Add margin to separate from other sections */
    border-radius: 8px; /* Rounded corners */
}

h2 {
    background-color: #11c8d9;
    font-family: 'Courier New', Courier, monospace; /* Fallback to monospace if Courier New is unavailable */
}

nav a {
    background-color: #08bece; /* Light blue background */
    padding: 10px; /* Add padding for better clickability */
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e118d7;
    width: 100%;
}